extends layout

block content
  // Static navbar
  nav.navbar.navbar-default.navbar-static-top
    .container-fluid
      .navbar-header
        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='#') TESI
      #navbar.navbar-collapse.collapse
        ul.nav.navbar-nav
          li.active
            a(href='#') Home
        form.navbar-form.navbar-left
          labe.control-label Tipo Objeto&nbsp;
          select#type.form-control
            option(data-type='' value='None') Selecione...
            option(data-type='bairro' value='Polygon') Bairro
            option(data-type='rua' value='LineString') Rua
            option(data-type='quadra' value='Polygon') Quadra
            option(data-type='edificacao' value='Polygon') Edificação
            option(data-type='ponto_onibus' value='Point') Ponto de Ônibus
            option(data-type='rio' value='MultiLineString') Rio

        ul.nav.navbar-nav.navbar-right
          li
            a(href='#') Default

  .container-fluid.tesi-content
    .row
      .col-lg-10.col-md-9
        #map.map
      .col-lg-2.col-md-3.sidebar
        p Objects

  script.
    var raster = new ol.layer.Tile({
      source: new ol.source.OSM()
    });
    var source = new ol.source.Vector({wrapX: false});
    var vector = new ol.layer.Vector({
      source: source
    });
    var map = new ol.Map({
      layers: [raster, vector],
      target: 'map',
      view: new ol.View({
        center: [-4765694, -567410],
        zoom: 15
      })
    });
    var typeSelect = document.getElementById('type');
    var draw; // global so we can remove it later
    function addInteraction() {
      var value = typeSelect.value;
      if (value !== 'None') {
        draw = new ol.interaction.Draw({
          source: source,
          type: /** @type {ol.geom.GeometryType} */ (typeSelect.value)
        });
        map.addInteraction(draw);
      }
    }
    /**
    * Handle change event.
    */
    typeSelect.onchange = function() {
      map.removeInteraction(draw);
      addInteraction();
    };
    addInteraction();
