.filter-box(ng-show='vm.isFiltering')
    .divider
    .mdl-grid
        .mdl-cell.mdl-cell--12-col
        .subheader Tipos
    .mdl-grid
        .mdl-cell.mdl-cell--12-col
        label.mdl-icon-toggle.mdl-js-icon-toggle.mdl-js-ripple-effect(for='bairro')
            input#bairro.mdl-icon-toggle__input(type='checkbox')
            |  
            i.mdl-icon-toggle__label.material-icons border_outer

        label.mdl-icon-toggle.mdl-js-icon-toggle.mdl-js-ripple-effect(for='rua')
            input#rua.mdl-icon-toggle__input(type='checkbox')
            |  
            i.mdl-icon-toggle__label.material-icons border_inner

        label.mdl-icon-toggle.mdl-js-icon-toggle.mdl-js-ripple-effect(for='quadra')
            input#quadra.mdl-icon-toggle__input(type='checkbox')
            |  
            i.mdl-icon-toggle__label.material-icons border_all

        label.mdl-icon-toggle.mdl-js-icon-toggle.mdl-js-ripple-effect(for='edificacao')
            input#edificacao.mdl-icon-toggle__input(type='checkbox')
            |  
            i.mdl-icon-toggle__label.material-icons business

        label.mdl-icon-toggle.mdl-js-icon-toggle.mdl-js-ripple-effect(for='onibus')
            input#onibus.mdl-icon-toggle__input(type='checkbox')
            |  
            i.mdl-icon-toggle__label.material-icons directions_bus
        
        label.mdl-icon-toggle.mdl-js-icon-toggle.mdl-js-ripple-effect(for='rio')
            input#rio.mdl-icon-toggle__input(type='checkbox')
            |  
            i.mdl-icon-toggle__label.material-icons gesture