html,
body {
  height: 100%;
}

.map {
  width: 100%;
  height: 100%;
  position: absolute;
}

header {
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  padding: 8px;
}

.search-card {
  display: flex;
  flex-flow: column;
  width: 400px;
  padding: 8px 16px;
}

.search-card > .search-input {
  margin: 0;
  display: flex;
  align-items: center;
}

.search-card > .search-input .input-field {
  margin: 0;
  flex-basis: 100%;
}

.search-card > .search-input > .icons {
  display: flex;
  color: #bbb;
  width: 80px;
  justify-content: space-between;
}

.search-card > .search-input > .icons > .filter {
  cursor: pointer;
}

.search-card > .search-input input {
  margin: 0;
  border-bottom: none;
  width: 100%;
}

.search-card > .search-input input:focus:not([readonly]) {
  border-bottom: none;
}

.search-card > .filter-box > .divider {
  margin: 10px 0 16px;
}

.general-card {
  display: flex;
  flex-flow: column;
  width: 400px;
}

.subheader {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  color: #999;
  margin-right: 16px;
}

.subheader > a {
  margin-right: 10px;
  cursor: pointer;
}

.subheader > span {
  margin-top: -5px;
}

.detail-input {
  border-bottom: 1px solid #ccc !important;
}

ul.collection {
  border: none;
}

ul.collection > li > .secondary-content > a {
  padding: 2px;
  cursor: pointer;
}

.card-content > .input-field.textarea {
  margin-top: 0;
}

.card-content > .input-field > textarea {
  padding: 0;
}

/** OpenLayers */
.ol-attribution {
  display: none;
}

/** Material Design Lite */
.mdl-grid {
  width: 100%;
}

.search-card > .filter-box > .mdl-grid,
.search-card > .filter-box > .mdl-grid > .mdl-cell {
  margin: 0;
  padding: 0;
}

.card-content > .subheader {
  margin-bottom: 10px;
}

.card-action {
  text-align: right;
}

.card-action > a {
  color: #039be5 !important;
  font-weight: bold;
  margin: 0 !important;
}