#view(ng-show='state === "VIEW"')
    .card-content
        .subheader {{ vm.getGeneralTitle() }}
        ul.collection(ng-show='vm.myObjects.length > 0')
            li(ng-repeat='obj in vm.myObjects').collection-item.avatar
            i.material-icons.circle {{ vm.getIcon(obj.type) }}
            span.title {{ vm.obj.name }}
            p {{ vm.obj.description }}
            a(onclick='vm.toggleObject(obj)').secondary-content
                i.material-icons {{ vm.getActionIcon('VISIBILITY') }}
            a(onclick='vm.editObject(obj)').secondary-content
                i.material-icons edit
            a(onclick='vm.removeObject(obj)').secondary-content
                i.material-icons delete
            a(onclick='vm.lockObject(obj)').secondary-content
                i.material-icons {{ vm.getActionIcon('LOCK') }}
        p(ng-show='vm.myObjects.length <= 0') Nenhum objeto cadastrado